.game-item {
    border: none;
    all: unset;
    width: 400px;
    height: 128px;
    background-color: var(--theme-gray);
    display: flex;
    cursor: pointer;
    border-radius: 3px;
    margin-bottom: 10px;
}

.game-item:hover {
    all: unset;
    border: none;
    width: 400px;
    height: 128px;
    background-color: var(--theme-gray);
    display: flex;
    cursor: pointer;
    border-radius: 3px;
    margin-bottom: 10px;
}

.game-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100px;
    height: 128px;
    padding: 0 10px 0 0;
}

.game-details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 200px;
    height: 128px;
    padding: 0 0 0 10px;
}

.game-readable {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 128px;
    padding: 0 0 0 10px;
}