.game-item {
    border: none;
    all: unset;
    width: 450px;
    height: 128px;
    background-color: var(--theme-gray);
    display: flex;
    /* cursor: pointer; */
    border-radius: 3px;
    margin-bottom: 10px;
    position: relative;
    z-index: 1;
    transition: all 0.2s ease-in-out;
}

.game-content {
    /* replicate styles from the previous .game-item */
    width: 450px;
    height: 128px;
    background-color: var(--theme-gray);
    display: flex;
    /* cursor: default; */
    border-radius: 3px;
    position: relative;
    z-index: 1;
    transition: all 0.2s ease-in-out;
  }

.game-content:hover {
    all: unset;
    border: none;
    width: 450px;
    height: 128px;
    background-color: var(--theme-gray);
    display: flex;
    /* cursor: pointer; */
	/* cursor: default; */
    border-radius: 3px;
    margin-bottom: 10px;
    position: relative;
    top: -5px;
    left: 5px;
    z-index: 1;
    transition: all 0.2s ease-in-out;
}


.game-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100px;
    height: 128px;
    padding: 0 0 0 10px;
	cursor: default;
}

.game-details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 200px;
    height: 128px;
    padding: 0 0 0 10px;
}

.game-readable {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 128px;
    padding: 0 0 0 10px;
	cursor: default;
}


.index-cover {
	/* cursor: pointer; */
	max-width: 96px;
	max-height: 128px;
	object-fit: cover;
}

.game-item-all {
    width: 450px;
    height: 128px;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: all 0.2s ease-in-out;
}

.game-border {
    width: 450px;
    height: 128px;
    background-color: var(--theme-purple);
    border-radius: 3px;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
}



