.fa-caret-left {
  transition: transform 0.3s ease;  /* Rotation will take 0.3s */
}

.rotate {
  transform: rotate(-90deg);  /* 180 degree rotation */
}

.checkbox {
  cursor:pointer;
}

.actual-checkbox {
  cursor:pointer;
  opacity: 0;
  z-index: 9999;
  position: absolute;
}

.games-index {
  min-height: 75vh;
  width: 100%;
  background-color: var(--theme-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.submit-button {
  all: unset;
  border: none;
  cursor: pointer;
}

.submit-button:hover {
  all: unset;
  border: none;
  cursor: pointer;
}

.search-input {
  width: 600px;
  border: none;
  background-color: var(--theme-gray);
}

.search-form-top {
  width: 700px;
  height: 35px;
  background-color: var(--theme-gray);
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  /* margin-bottom: 20px; */
  border-radius: 5px;
}

.search-form {
  margin-top: 5px;
  margin-bottom: 15px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}