.fa-caret-left {
  transition: transform 0.3s ease;  /* Rotation will take 0.3s */
}

.rotate {
  transform: rotate(-90deg);  /* 180 degree rotation */
}

.checkbox {
  cursor:pointer;
}

.actual-checkbox {
  cursor:pointer;
  opacity: 0;
  z-index: 9999;
  position: absolute;
}

.games-index {
  min-height: 75vh;
  width: 100%;
  background-color: var(--theme-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  position: relative;
}

.submit-button {
  all: unset;
  border: none;
  cursor: pointer;
}

.games-index-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}

.submit-button:hover {
  all: unset;
  border: none;
  cursor: pointer;
}

.search-input {
  width: 720px;
  border: none;
  background-color: var(--theme-gray);
  border-radius: 7px;
}

.search-form-top {
  width: 700px;
  height: 40px;
  background-color: var(--theme-gray);
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  /* margin-bottom: 20px; */
  border-radius: 5px;
}

.advanced-setttings {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.genre-select {
  width: 100px;
}

.year-input {
  width: 100px;
}

.background {
  width: 400px;
  height: 128px;
  background-color: var(--theme-purple);
  position: absolute;
  /* z-index: -1; */
}

.search-form {
  margin-top: 5px;
  /* margin-bottom: 3px; */
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 720px;
  border: none;
  background-color: var(--theme-gray);
  border-radius: 7px;
  gap: 5px;
}

.hidden {
  display: none;
}

.advanced-dropdown {
  width: 600px;
  height: 35px;
  background-color: var(--theme-gray);
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  /* margin-bottom: 20px; */
  border-radius: 5px;
}