
.game-list-item-container {
	flex-basis: 18%;
	background-color: lightgray;
	border: 1px solid black;
	box-sizing: border-box;
	height: 320px;
	width: 100px;
}

.game-list-item-portrait {
	border-bottom: 1px solid black;
	box-sizing: border-box;
	height: 80%;
}