.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* padding: 1rem 0; */
  border-bottom: 1px solid var(--theme-black-soft);
}

.links-nav,
.links-auth {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
}

.links-auth a {
  padding: 0.5rem;
}
