.profile-page-container {
	display: flex;
	height: 100%;
	width: 100%;

	> div {
		padding: 0.75rem;
	}
}

.profile-page-lists {
	display: flex;
	flex-direction: column;
	width: 80%;
}

.profile-page-wishlist,
.profile-page-library {
	display: flex;
	flex-wrap: wrap;
	/* border: 1px solid black; */

	> div {
		margin: 0.75rem;
	}
}

.profile-page-friends {
	display: flex;
	flex-direction: column;
	width: 20%;
	background-color: var(--theme-purple);
}

.empty-game-link {
	display: contents;
}