.profile-page-container {
	display: flex;
	height: 100%;
	width: 100%;

	>div {
		padding: 0.75rem;
	}
}

.profile-page-lists {
	display: flex;
	flex-direction: column;
	width: 80%;
}

.profile-page-wishlist,
.profile-page-library {
	display: flex;
	flex-wrap: wrap;
	/* border: 1px solid black; */

	>div {
		margin: 0.75rem;
	}
}

.profile-page-friends {
	display: flex;
	flex-direction: column;
	min-width: 300px;
	width: 30%;
	background-color: var(--theme-gray);
	margin: 0.75rem;
	border-radius: 5px;
}

.empty-game-link {
	display: contents;
}

.no-games-image {
	height: 320px;
	width: 17.5%;
}
